<div class="row">
  <div class="col-md-12">
    <h4>My Books</h4>
    <p>Manage important things about your books in this sections
    <small>(Was it a gift, where i purchase it, when i started to read it, when i stopped reading it)</small></p>
    <div>
      <a routerLink="/books/add" class="btn btn-sm btn-primary">Add Books</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-book-search-results
    [results]="results"
    actionLabel="Manage Information"
    totalLabel="Total: "
    ></app-book-search-results>
  </div>
</div>
