<nav class="navbar navbar-expand-lg navbar-dark  bg-primary">
  <a class="navbar-brand" routerLink="/books" *ngIf="user; else homePage">My Books</a>
  <ng-template #homePage>
    <a class="navbar-brand" routerLink="/">My Books</a>
  </ng-template>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Include here all navigation links  -->
  </div>
  <div class="pull-right">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
    <div class="navbar-nav" *ngIf="!user; else currentUserTpl">
      <a class="nav-item nav-link active" routerLink="/login">Register / Login<span class="sr-only">(current)</span></a>
    </div>
    <ng-template #currentUserTpl>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{user.photoURL}}" width="30" height="30" class="d-inline-block align-top rounded" alt="">
          {{ user.displayName }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/profile">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="logOut()">Log Out</a>
       </div>
      </li>
    </ul>
    </ng-template>
  </div>
  </div>
</nav>
